@font-face { 
    font-family: 'GyeonggiBatang'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/** Standard style of App
 */
:root {
    --stc-white: #fffafa;
    --stc-black: #333333;
    --stc-gold: #c39335;
    --transparent: #00000000;
    --stc-font: 'GyeonggiBatang';
    --stc-font-sub: 'Cafe24Ssurround';
}
/** Common style
 */
.cnt-c { /** centralization - flex - column */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cnt-r { /** centralization - felx - row */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pnt { /** point color of word */
    color: var(--stc-gold);
}
.btn {
    width: 280px;
    height: 50px;
    background-color: var(--transparent);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 7px var(--stc-white) inset,
                0px 0px 7px var(--stc-white);
    font-size: 19px;
    font-family: var(--stc-font-sub);
    letter-spacing: 3px;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 0px 0px 7px var(--stc-gold) inset,
                0px 0px 7px var(--stc-gold);
}


/** Element style : plain board
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--stc-black);
    color: var(--stc-white);
    font-family: var(--stc-font);
}
body {
    width: 100vw;
    height: 100vh;
    justify-content: flex-start !important;
    /* border: 1px solid red; */
}
.header {
    min-width: 360px;
    height: 100px;
    text-align: center;
    /* border: 1px solid red; */
}
.logo {
    height: 60px;
    line-height: 70px;
    font-size: 23px;
    letter-spacing: 4px;
}
.logo > a {
    cursor: pointer;
    text-decoration: none;
}
.logo-full {
    margin-bottom: 5px;
}
.logo-full > span {
    padding: 0px 5px;
}
#app {
    width: 360px;
    height: 570px;
    margin-top: 17px;
    /* border: 1px solid red; */
}
/** Element style : main-view
 */
.main-view {
    height: 100%;
    justify-content: space-evenly !important;
}
.main-view > img { /** congress.png */
    height: 250px;
    object-fit: cover;
}
.main-view > p.slogan {
    font-size: 30px;
}
.main-view > p.slogan :first-child {
    margin-bottom: 10px;
}
/** Element style : predict-view
 */
:root {
    --party-1-color: #004EA2;
    --party-2-color: #E61E2B;
    --party-3-color: #FFCC00;
    --party-4-color: #EA5504;
    --party-5-color: #003E9B;
    --party-6-color: #82C8B4;
    --party-7-color: #661b85;
}
.predict-view {}

.rot-container { /** Rotating party */
    justify-content: space-evenly !important;
}
.rot-container > div.rot-box {
    width: 20px;
    height: 20px;
    border-radius: 30%;
}
.rot-container > div.rot-box[data-party="1"]{
    border: 1px solid var(--party-1-color);
}
.rot-container > div.rot-box[data-party="2"]{
    border: 1px solid var(--party-2-color);
}
.rot-container > div.rot-box[data-party="3"]{
    border: 1px solid var(--party-3-color);
}
.rot-container > div.rot-box[data-party="4"]{
    border: 1px solid var(--party-4-color);
}
.rot-container > div.rot-box[data-party="5"]{
    border: 1px solid var(--party-5-color);
}
.rot-container > div.rot-box[data-party="6"]{
    border: 1px solid var(--party-6-color);
}
.rot-container > div.rot-box[data-party="7"]{
    border: 1px solid var(--party-7-color);
}

.party-container { /** rotating & result */
    margin: 20px;
    padding: 7px;
    height: 75px;
    justify-content: space-evenly !important;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.party-container > img {
    background: var(--transparent);
}
.party-container > .party-face {
    height: 58px;
    object-fit: cover;
    border-radius: 7%;
}
.party-container .party-logo {
    height: 35px;
    object-fit: cover;
}

.upload-container { /** Upload photo */
    width: inherit;
    height: 200px;
    padding: 20px;
}
.photo-box { /** photo zone */
    width: inherit;
    height: 200px;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 4px 8px 0 rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.photo-box.to-upload {
    cursor: pointer;
}
.photo-box.to-upload > p {
    width: 100%;
    height: 50%;
    background: var(--transparent);
    color: var(--stc-white);
    font-family: var(--stc-font-sub);
    font-size: 26px;
    font-weight: 700;
    text-shadow: 3px 2px 6px rgb(51, 51, 51, 0.7);
}
img#upload-img {
    width: 70px;
    background: var(--transparent);
    transform: translateY(12px);
}
p#upload-text {
    transform: translateY(10px);
}

.ntc-photo { /** Noticification for uploading photo */
    margin-top: 10px;
    padding-left: 10px;
    font-size: 10px;
    text-align: left;
}

.result-container { /** Result of prediction */
    position: relative;
    width: inherit;
    padding: 20px;
    text-align: center;
}
.photo-box.uploaded { /** photo zone uploaded */
    position: relative;
}
.photo-box.uploaded > .reload-btn { /** refresh result */
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
}
.reload-btn > img { 
    background: var(--transparent);
}
.photo-box.uploaded > img { /** uploaded photo */
    max-width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

.result-container > p#predict-prop { /** result predcted propability */
    margin: 13px 0px 15px 20px;
    height: 70px;
    line-height: 70px;
    font-family: var(--stc-font-sub);
    font-size: 36px;
    font-weight: 600;
}
.result-container > img { /** golg badge */
    position: absolute;
    width: 30px;
    top: 268px;
    left: 45px;
}